@mixin _typography-default() {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin typography-base() {
  @include _typography-default;
  font-family: var(--font-primary);
}

@mixin text($fontSize, $lineHeight) {
  @include typography-base;
  font-size: $fontSize;
  line-height: $lineHeight;
}
