@import 'Mixins';

.AppDialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-black);
  color: #fff;
  padding: 7.2rem 1.2rem 8.4rem;
  overflow: hidden scroll;
  @include min-width($--lg) {
    padding: 8.4rem;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 122.4rem;
    margin: 0 auto;
    @include min-width($--lg) {
      position: relative;
    }
  }
  &__close {
    @include button--unstyled;
    color: #fff;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    @include min-width($--lg) {
      top: 0;
      right: 0;
      transform: translate(100%, -100%);
    }
  }
}
