@import './../../scss/mixins/';

.AppDialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #050012;
  color: #fff;
  &__inner {
    max-width: 122.4rem;
    position: relative;
    margin: 8.4rem auto auto;
  }
  &__close {
    @include button-unstyled;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
  }
}
