:root {
  font-size: 10px;
}

html {
  background-color: var(--color-black);
}

body {
  @include typography-base;
  margin: 0;
  font-size: 1.6rem;
  color: #fff;
}

a {
  color: #fff;
  transition: color 0.2s ease-in-out;
  @include onlyHover {
    color: var(--color-orange);
  }
}

* {
  box-sizing: border-box;
}
